/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

// My Stuff //
.home.blog .entry-content {
	p {
		font-size: 1.25rem;
		@media screen and (min-width: 620px) {
			font-size: 1.75rem;
		}
		@media screen and (min-width: 1080px) {
			font-size: 2.5rem;
		}
	}
}

.home.blog .entry-meta {
	margin-bottom: 3rem;
	h2 {
		font-size: 1.25rem;
		font-weight: normal;
		margin-bottom	: 0;
		display: inline;
	}
	.source {
		font-style: italic;
		font-size: 1.25rem;
	}
}

@media (min-width:1080px) {
	.home.blog .site-content {
		margin: 5rem 10rem 2rem;
		position: relative;
		#new-quote-button {
			display: block;
			margin: 0 auto;
		}
	}
	.site-content:before,
	.site-content:after {
		font-family: FontAwesome;
		color: #0c0;
		font-size: 7rem;
		line-height: 7rem;
        position: absolute;
        top: 0
    }
    .site-content:before {
        content: "\f10d";
        left: -10rem;	
    }
    .site-content:after {
        content: "\f10e";
        right: -10rem;
    }
}