/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

// My Stuff //
.home.blog .entry-content {
	margin-top: 3rem;
	p {
		font-size: 1.25rem;
	}
}

.home.blog .entry-meta {
	margin-bottom: 3rem;
	h2 {
		font-size: 1.25rem;
		font-weight: normal;
	}
}