/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.hfeed.site {
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.5%;
    width: 100%;
}

// Header //
.site-header {
    margin-top: 3rem;
}

.logo img {
    display: block;
    width: 300px;
    @media screen and (min-width: 620px) {
        width: 500px;
    }
    @media screen and (min-width: 1080px) {
        width: 700px;
        margin: 0 auto;
    }
}

// Footer //
#colophon {
    margin: 4.5rem 0 3rem;
    .site-info {
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 620px) {
            flex-wrap: nowrap;
        }
        @media screen and (min-width: 1080px) {
            justify-content: flex-end;
        }
        p {
            flex: 0 1 100%;
            line-height: 1;
            @media screen and (min-width: 620px) {
                flex: 0 1 auto;
                padding-left: 1rem
            }
        }
    }
    .footer-navigation {
        list-style: none;
        display: inline-flex;
        margin: 1rem 0 0 0;
        padding: 0;
        li {
            padding: 0 1rem;
            border-right: 1px solid #fff;
            line-height: 1;
        }
        li:first-child {
            padding-left: 0;
        }
        li:last-child {
            border-right: 0;
            @media screen and (min-width: 620px) {
            border-right: 1px solid #fff;
            }
        }
    }
}

/* All Archives Page */
.browse-archives .entry-header {
    margin-top: 3rem;
}

.post-archives ul,
.category-archives ul,
.tags ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    li {
        margin-right: 1.1rem;
        margin-bottom: 0.5rem;
        @media screen and (min-width: 620px) {
            font-size: 1.25rem;
        }
    }
}
.tags ul {
    align-items: center;
}

@media (min-width:1080px) {
    .page-id-113 .site-content,
    .single-post .site-content {
		margin: 5rem 10rem 2rem;
		position: relative;
		#new-quote-button {
			display: block;
			margin: 0 auto;
		}
	}
	.site-content:before,
	.site-content:after {
		font-family: FontAwesome;
		color: #0c0;
		font-size: 7rem;
		line-height: 7rem;
        position: absolute;
        top: 0;
    }
    .site-content:before {
        content: "\f10d";
        left: -10rem;	
    }
    .site-content:after {
        content: "\f10e";
        right: -10rem;
    }
}

// Single Post
.single-post .entry-content {
	// margin-top: 3rem;
	p {
		font-size: 1.25rem;
		@media screen and (min-width: 620px) {
			font-size: 1.75rem;
		}
		@media screen and (min-width: 1080px) {
			font-size: 2.5rem;
		}
	}
}
.single-post .entry-meta {
	margin-bottom: 3rem;
	h2 {
		font-size: 1.25rem;
		font-weight: normal;
		margin-bottom: 0;
		display: inline;
	}
	.source {
		font-style: italic;
		font-size: 1.25rem;
	}
}

// Category

// Tag


/* Submit a Quote Page */
